- @title = "Source Code"
- @summary = "Submit a pull request today!"

%h1.first Source Code

%h3 Client

%table.table.table-bordered
  %tr
    %td leap_client
    %td Desktop client application for secure communication, using the LEAP platform, supporting encrypted internet proxy, secure email, and secure chat (coming soon). The client is written in Python, runs on Linux, Mac, and Windows, and is licensed under the GPLv3.
    %td https://leap.se/git/leap_client
    %td= link 'github' => 'https://github.com/leapcode/leap_client'

%h3 Service provider platform

%table.table.table-bordered
  %tr
    %td leap_platform
    %td Server automation recipes for the running secure communication services via the LEAP Platform. Written mostly using puppet, and licensed under the GPLv3.
    %td https://leap.se/git/leap_platform
    %td= link 'github' => 'https://github.com/leapcode/leap_platform'

  %tr
    %td leap_cli
    %td Command line interface for managing a service provider running the LEAP platform. Written in ruby and released under the GPLv3.
    %td https://leap.se/git/leap_cli
    %td= link 'github' => 'https://github.com/leapcode/leap_cli'

  %tr
    %td soledad
    %td Soledad (Synchronization of Locally Encrypted Data Among Devices) provides a synchronized, client-encrypted document database.
    %td https://leap.se/git/soledad
    %td= link 'github' => 'https://github.com/leapcode/soledad'

%h3 Web applications and libraries

%table.table.table-bordered
  %tr
    %td leap_web
    %td Web application for the LEAP platform, providing user management, tickets, billing, and REST API.
    %td https://leap.se/git/leap_web
    %td= link 'github' => 'https://github.com/leapcode/leap_web'
  %tr
    %td leap_website
    %td This website
    %td https://leap.se/git/leap_website
    %td
  %tr
    %td leap_doc
    %td LEAP Documentation (everything under leap.se/docs)
    %td https://leap.se/git/leap_doc
    %td
  %tr
    %td srp_js
    %td Secure Remote Password (SRP) library for javascript
    %td https://leap.se/git/srp_js
    %td= link 'github' => 'https://github.com/leapcode/srp_js'
  %tr
    %td ruby_srp
    %td Secure Remote Password (SRP) library for ruby
    %td https://github.com/leapcode/ruby_srp
    %td= link 'github' => 'https://github.com/leapcode/ruby_srp'
