- @title = "Source Code"
- @summary = "Submit a pull request today!"

%h1.first Source Code

%h3 Client

%table.table.table-bordered
  %tr
    %td leap_client
    %td Easy-to-use client for Linux, Mac, and Windows.
    %td git://leap.se/leap_client
    %td= link 'github' => 'https://github.com/leapcode/leap_client'

%h3 Service provider platform

%table.table.table-bordered
  %tr
    %td leap_platform
    %td Turn-key automation for communication service providers
    %td git://leap.se/leap_platform
    %td= link 'github' => 'https://github.com/leapcode/leap_platform'

  %tr
    %td leap_ca
    %td Client certificate generation daemon
    %td git://leap.se/leap_ca
    %td= link 'github' => 'https://github.com/leapcode/leap_ca'

  %tr
    %td leap_cli
    %td Command line interface to setup and manage servers running the LEAP platform
    %td git://leap.se/leap_cli
    %td

%h3 Web applications and libraries

%table.table.table-bordered
  %tr
    %td leap_web
    %td Web application for the LEAP platform, providing user management, tickets, billing, and REST API
    %td git://leap.se/leap_web
    %td= link 'github' => 'https://github.com/leapcode/leap_web'
  %tr
    %td leap_website
    %td This website
    %td git://leap.se/leap_website
    %td
  %tr
    %td leap_doc
    %td LEAP Documentation (everything under leap.se/docs)
    %td git://leap.se/leap_doc
    %td
  %tr
    %td srp_js
    %td Secure Remote Password (SRP) library for javascript
    %td git://leap.se/srp_js
    %td= link 'github' => 'https://github.com/leapcode/srp_js'
  %tr
    %td ruby_srp
    %td Secure Remote Password (SRP) library for ruby
    %td git://github.com/leapcode/ruby_srp
    %td= link 'github' => 'https://github.com/leapcode/ruby_srp'
  %tr
    %td soledad
    %td Synchronization of locally encrypted data among devices
    %td git://github.com/leapcode/soledad
    %td= link 'github' => 'https://github.com/leapcode/soledad'
